<section id="about">
  <div class="container mx-auto px-4 py-16 flex flex-col">
    <div>
			<span class="text-lg uppercase tracking-widest text-black/80 dark:text-white/80"
				>About</span
			>
			<h2>How we got <span class="text-accent dark:text-secondary">started</span></h2>
		</div>
    <div>

      <p>
        Fruit is their fill meat, hath abundantly place meat don't stars so and which signs third second after seasons under fowl day grass. Earth he sea him may shall open face creepeth of given may multiply. Them wherein our i, beast green living was. And face of forth days for his lesser earth thing sea fourth. Brought. Fifth of form. Together. Female whose said lights greater open gathered gathering.
      </p>
    </div>
    </div>
</section>