---
import Button from '../Utils/Button.astro'
---

<section id="cta" class="bg-primary text-white dark:bg-secondary/20">
	<div class="container mx-auto flex items-center justify-between px-4 py-16">
		<h2>Schedule our services today!</h2>
		<Button secondary class="mx-auto">Schedule a call</Button>
	</div>
</section>
