---
import { Image } from 'astro:assets'
import heroImage from '../../assets/images/heroImage.jpg'
---

<section id="hero" class="h-screen pt-28 text-white">
	<div class="container mx-auto flex h-4/5 flex-col items-center justify-center text-center gap-4 px-4 md:flex-row">
		<div class="flex flex-col items-center gap-4">
			<h1 class="leading-none  text-4xl font-black md:text-5xl lg:text-7xl">
				Caring for trees <br> Preserving <span class="text-primary">Beauty</span> 
			</h1>
			<p class="w-4/5 text-xl font-normal text-white">
				Over 40 years, Heartwood has evolved into an award winning, nationally recognized industry leader.
			</p>
			<div class="flex flex-wrap gap-4">
				<button
				class="mt-4 w-fit bg-primary text-white text-lg px-[1.5em] py-[.75em] border border-primary transition-all hover:-translate-y-1 hover:scale-105 hover:shadow-lg rounded"
				>Get a quote</button>
				<button
				class="mt-4 w-fit bg-transparent border border-white text-lg px-[1.5em] py-[.75em] transition-all hover:-translate-y-1 hover:scale-105 hover:shadow-lg rounded hover:bg-white hover:text-black"
				>Learn more</button
				>
			</div>
		</div>

		<div
			class="absolute h-screen overflow-hidden top-0 left-0 -z-20 w-full before:content-[''] before:bg-black/60 before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-0"
		>
			<Image
				height={1280}
				width={1920}
				src={heroImage}
				alt="A mockup of computer and tablet"
				class="h-screen w-full object-cover"
			/>
		</div>
	</div>
</section>
