---
import Header from '../components/Layout/Header.astro'
import '../base.css'
import { AstroSeo } from '@astrolib/seo'
import '@fontsource-variable/work-sans'
import '@fontsource-variable/playfair-display'
import Footer from '../components/Layout/Footer.astro'
---

<html
	lang="en"
	class="h-full selection:bg-accent selection:text-white"
	x-cloak
	x-data
	:class="{ 'dark': $store.theme.isDark }"
>
	<head> </head>
	<AstroSeo
		title="Title"
		description="A short description"
		canonical="https://changingviews.media"
		openGraph={{
			url: 'https://changingviews.media',
			title: 'Title',
			description: 'A short description',
			images: [
				{
					url: 'https://www.changingviews.media/opengraph/social-og.jpg',
					width: 1200,
					height: 630,
					alt: 'Social open graph',
					type: 'image/jpeg',
				},
				{
					url: 'https://www.changingviews.media/opengraph/twitter-og.jpg',
					width: 4096,
					height: 4096,
					alt: 'Twitter open graph',
					type: 'image/jpeg',
				},
				{ url: 'https://www.changingviews.media/opengraph/social-og.jpg' },
				{ url: 'https://www.changingviews.media/opengraph/twitter-og.jpg' },
			],
		}}
	/>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="author" content="Changing Views Media" />
	<meta name="generator" content={Astro.generator} />
	<link rel="sitemap" href="/sitemap-index.xml" />

	<!-- Favicon -->

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="theme-color" content="#ffffff" />

	<title>Astro</title>

	<body class="h-full bg-background text-text dark:bg-text dark:text-background">
		<Header />
		<slot />
		<Footer />
	</body>
	<script>
		import Alpine from 'alpinejs'
		import collapse from '@alpinejs/collapse'

		Alpine.plugin(collapse)

		Alpine.store('theme', {
			init() {
				this.dark = (() => {
					if (typeof localStorage !== undefined && localStorage.getItem('theme')) {
						return localStorage.getItem('theme') === 'dark'
					}
					if (window.matchMedia('(prefer-color-scheme: dark)').matches) {
						return true
					}
					return false
				})()
			},

			isDark: false,

			toggle() {
				this.isDark = !this.isDark
				localStorage.setItem('theme', this.isDark ? 'dark' : 'light')
			},
		})

		window.Alpine = Alpine

		Alpine.start()
	</script>


</html>
